@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
.react-player {
  height: 77vh !important;
  width: 100% !important;
}
.searsh-bar {
  border: none;
  outline: none;
  width: 90%;
}
@media (min-width: 1200px) {
  .searsh-bar {
    width: 93% !important;
  }
}
@media (max-width: 835px) {
  .searsh-bar {
    width: 89% !important;
  }
}
@media (max-width: 767px) {
  .searsh-bar {
    width: 85% !important;
  }
}
@media (max-width: 565px) {
  .searsh-bar {
    width: 80% !important;
  }
}
@media (max-width: 435px) {
  .searsh-bar {
    width: 75% !important;
  }
}
.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.category-btn:hover {
  background-color: #fc1503 !important;
  color: white !important;
}
.category-btn:hover span {
  color: white !important;
}
@media screen and (max-width: 900px) {
  .category-btn {
    margin: 10px;
  }
}
@media screen and (max-width: 900px) {
  .copyright {
    display: none !important;
  }
}
@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar {
    width: 200px;
  }
}
